uploads/
upgrade/
plugins/
languages/
index.php
themes/twentynineteen/
themes/twentyseventeen/
themes/twentysixteen/
themes/bulk/css/
themes/bulk/fonts/
themes/bulk/img/
themes/bulk/js/
themes/bulk/lib/
themes/bulk/languages/